.homepage {
  background-image: url('../images/background1.jpg');
  background-size: cover;
  height: 100vh;
  position: static;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.mapbtn {
  position: absolute;
  bottom: 3%;
  background-color: transparent;
  border: 2px solid transparent; 
  color: white;
  text-align: center;
  max-width: 200px;
  min-width: 200px;
  font-size: 15px;
  font-family: 'Gidole';
  transition-duration: 0.4s;
  border-radius: 8px;
  padding: 10px 15px;
  text-shadow: 0.2px 0.2px rgb(119, 119, 119);
  cursor: pointer;
}

.mapbtn:Hover {
  color: rgb(170, 170, 170);
}

.githubbtn, .linkedinbtn {
  background-color: transparent;
  border: 0px;
  display: block;
  position: absolute;
  background-size: cover;
  cursor: pointer;
  transition-duration: 0.4s;
}

.linkedinbtn {
  background-image: url('../images/linkedin.png');
  right: 20px;
  bottom: 10px;
  width: 37px;
  height: 37px;
}

.linkedinbtn:Hover {
  background-image: url('../images/linkedin-hover.png');
}

.githubbtn:Hover {
  background-image: url('../images/github-hover.png');
}

.githubbtn {
  background-image: url('../images/github.png');
  right: 70px;
  bottom: 10px;
  width: 40px;
  height: 40px;
}

.intro, .intro2 {
  display: block;
  position: relative;
  text-align: center;
  font-family: 'Gidole';
  color: white;
  text-shadow: 0.5px 0.5px rgb(119, 119, 119);
}

@media screen and (min-height: 401px) {
  .intro, .intro2 {
    font-size: 35px;
  }
}

@media screen and (max-height: 400px) {
  .intro, .ntro2 {
    font-size: 25px;
  }
}

.wrap {
  display: block;
  position: absolute;
  width: 550px;
  height: 30%;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.info {
  display: block;
  position: absolute;
  font-family: 'Gidole';
  font-size: 18px;
  right: 80px;
  top: 7px;
}

.intro {
  top: 0%;
}

.intro2 {
  top: 5%;
}
