.uipanel{
    display: block;
    position: fixed;
    width: 20%;
    background-color: rgb(64, 153, 189);  
    right: 0;
    background-size: cover;
    height: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
}


.textcontainer{
    display: block;
    position: absolute;
    width: 80%;
    left: 100px;
}

.displayprofile {
    display: block;
    position: absolute;
    background-color: white;
    background-image: url('../images/profile.jpg');
    background-size: cover;
    background-position-x: center;
    border: 2px solid white; 
    top: 120px;
    width: 70%;
    height: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.pagecontainer {
    display: block;
    position: relative;
    width: 80%;
    left: 0;
    height: 100%;
}

.infopage {
    display: block;
    position: fixed;
    width: 80%;
    background-image: url('../images/background2.jpeg');
    left: 0;
    background-size: cover;
    height: 100vh;
}

.subsubheading {
    font-size: 22px;
    color: black;
    text-decoration: underline;
    font-family: "Palatino";
}

.h2, .h1, .span {
    font-family: "Palatino";
}


.topline, .blurb {
    font-family: 'Palatino';
    text-shadow: 0.2px 0.2px rgb(110, 110, 110);
    color: black;
}

@media screen and (min-height: 501px) {
    .topline, .blurb {
      font-size: 22px;
    }
  }
  
  @media screen and (max-height: 500px) {
    .topline, .blurb {
      font-size: 10px;
    }
  }
  .buttoncontainer {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 350px;
}

.navbutton, .navbuttonactive {
    font-family: 'Gitole';
    font-size: 20px;
    border: 0;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbutton {
    color: black;
    cursor: pointer;
    background-color: rgb(64, 153, 189);  
}

.navbuttonactive {
    color: white;
}

.navbutton:Hover{
    color: white;
}

.backbtn {
    display: block;
    position: absolute;
    border: 0px;
    background-image: url('../images/back.png');
    background-size: cover;
    background-color: transparent;
    bottom: 10px;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.backbtn:Hover {
    background-image: url('../images/back-hover.png');
}
