.MainPage {
  background-image: url('images/background.jpeg');
  background-size: cover;
  height: 100vh;
  position: static;
}

.Intro, .Intro2 {
  display: block;
  position: relative;
  text-align: center;
  font-size: 35px;
  font-family: 'Gidole';
  color: white;
  text-shadow: 0.75px 0.75px rgb(119, 119, 119);
}

.Wrap {
  display: block;
  position: absolute;
  width: 50%;
  height: 30%;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.Intro {
  top: 0%;
}

.Intro2 {
  top: 5%;
}